<div [@routerTransition]>
    <app-page-header [heading]="'Items'"></app-page-header>

    <div class="row mb-4">
        <div class="col-lg-12">
            <form #form="ngForm" (submit)="onSubmit(form)">


                <div class="row">
                    <div class="col-md-8">
                        <fieldset class="form-group">
                            <label>Item Name</label>
                            <input
                                class="form-control"
                                [ngClass]="{ 'invalid-input': itemname.invalid && itemname.dirty }"
                                pattern="^[A-Z][a-z]*(\s[A-Z][a-z]*)*$"
                                required
                                name="itemname"
                                #itemname="ngModel"
                                [(ngModel)]="service.fromData.fullname"
                            />
        
                            <div *ngIf="itemname.invalid && (itemname.dirty || itemname.touched)" class="error-message">
                                <div *ngIf="fullname.errors?.required">Item Name is required</div>
                                <div *ngIf="fullname.errors?.pattern">Enter a valid Item Name</div>
                            </div>
                        </fieldset>
        
                    </div>

                    <div class="col-md-4">

                                   
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Item Type</label>
                    <select
                        class="form-control"
                        required
                        id="exampleFormControlSelect1"
                        #itemtype="ngModel"
                        name="civilstatus"
                        [(ngModel)]="service.fromData.civilstatus"
                        [ngModelOptions]="{ standalone: true }"
                    >
                        <option>Select Item Type</option>
                        <option *ngFor="let status of civilstatus">{{ status }}</option>
                    </select>

                    <div
                        *ngIf="itemtype.invalid && (itemtype.dirty || itemtype.touched)"
                        class="error-message"
                    >
                        <div *ngIf="itemtype.errors?.required">Item Type no required</div>
                        <div class="text-danger">Please select a Item Type.</div>
                    </div>
                </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8">
                            
                        <fieldset class="form-group">
                            <label>Serial No</label>
                            <input
                                name="nic"
                                [ngClass]="{ 'invalid-input': serialno.invalid && serialno.dirty }"
                                pattern="^(([0-9]{9}[vVxX])|([0-2]{12}))$"
                                required
                                #serialno="ngModel"
                                [(ngModel)]="service.fromData.nic"
                                class="form-control"
                            />
        
                            <div *ngIf="serialno.invalid && (serialno.dirty || serialno.touched)" class="error-message">
                                <div *ngIf="nic.errors?.required">Serial No is required</div>
                                <div *ngIf="nic.errors?.pattern">Enter a valid Serial No</div>
                            </div>
                            <!-- <div *ngIf="!nic.valid && nic.dirty">
                                NIC is invalid.
                            </div> -->
                        </fieldset>
        
                    </div>
                    <div class="col-md-4">
                            
                <div class="mt-4">
                    <button class="btn btn-success button-items" type="submit">Add</button>
                    <button class="btn btn-warning button-items" type="button" (click)="UpdateEmployee(form)">Update</button>
                    <button class="btn btn-primary button-items" type="button" (click)="resetData(form)">Reset</button>
                </div>
                    </div>
                </div>
              
             
              

            </form>
        </div>
       
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <app-page-header [heading]="'Items Details'" [icon]="'fa-table'"></app-page-header>
                <app-tables
                    [data]="employeeData"
                    [headers]="employeeFields"
                    [displayColumn]="displayedColumns"
                    (passData)="fillData($event)"
                    (deleteDataitem) ="deleteData($event)"
                ></app-tables>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
