<div [@routerTransition]>
    <app-page-header [heading]="'New Item'"></app-page-header>

    <div class="row mb-4">
        <div class="col-md-12">
            <form [formGroup]="itemgroup"  (submit)="onSubmit(form)">
                <div class="row">

                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label for="inputquantity4">Serial No*</label>
                            <input type="text"  class="form-control" formControlName="serialno" readonly>
                        </fieldset>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mt-4">
                            <label for="exampleFormControlSelect1">Item Name</label>
                            <input id="typeahead-format" placeholder="New type" formControlName="Itemname" type="text"  [ngClass]="{ 'is-invalid': submitted && f.Itemname.errors }"
                             class="form-control" />
                            <div *ngIf="submitted && f.Itemname.errors" class="invalid-feedback">
                              <div *ngIf="f.Itemname.errors.required">Item name is required</div>
                            </div>
                        </div>
                      
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mt-4">
                            <label for="exampleFormControlSelect1">Unitprice</label>
                            <input id="typeahead-format" placeholder="unit Price" formControlName="Unitprice" type="number"  [ngClass]="{ 'is-invalid': submitted && f.Unitprice.errors }"
                             class="form-control" />
                            <div *ngIf="submitted && f.Itemname.errors" class="invalid-feedback">
                              <div *ngIf="f.Itemname.errors.required">Item name is required</div>
                              <div *ngIf="submitted && f.Unitprice.errors" class="invalid-feedback">
                                <div *ngIf="f.Unitprice.errors.required">unit price is required</div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="exampleFormControlSelect1">Issue Type</label>
                        <select   [ngClass]="{
                            'is-invalid':
                                submitted && f.itemType.errors
                        }" class="form-control" formControlName="itemType">
                            <option *ngFor="let issue of ItemTypeList" [ngValue]="issue.id"  >{{issue?.name}}
                            </option>
                         </select>
                        <div *ngIf="submitted && f.itemType.errors" class="invalid-feedback">
                          <div *ngIf="f.itemType.errors.required">
                            Issue type is required
                          </div>
                        </div>

                    </div>
                </div>
             


          <div class="row">
            <div class="col-md-6">
                <div class="mt-4">
                    <button class="btn btn-success btn-add" type="submit">Add</button>
                    <button class="btn btn-warning button-set" type="button" (click)="UpdateItem()">Update</button>
                    <button class="btn btn-primary button-set" type="button" (click)="resetData()">Reset</button>
                </div>
            </div>

            <div class="col-md-6"></div>
          </div>     

              

            </form>
        </div>
        
    </div>


    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <app-page-header [heading]="'Items Details'" [icon]="'fa-table'"></app-page-header>
                <app-tables
                    [data]="employeeData"
                    [headers]="employeeFields"
                    [displayColumn]="displayedColumns"
                    (passData)="fillData($event)"
                    (deleteDataitem) ="deleteData($event)"
                ></app-tables>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
