.button-set{
    width: 16vh;
    margin-left: 5vh;
}
.btn-add{
    width: 16vh;
}

.invalid-input {
    border: 1px solid red; /* Add your desired styles for invalid input */
}

.error-message {
    color: red; /* Add your desired styles for the error message */
}
.button-items{
    margin-left: 3vh;
    width: 12vh;
}