<div [@routerTransition]>
    <app-page-header [heading]="'Ticket Issue'"></app-page-header>

    <div class="row mb-4">
        <div class="col-md-12">
            <form #form="ngForm" (submit)="onSubmit(form)">
                <div class="row">

                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label>Ticket No</label>
                            <input
                                class="form-control"
                                [ngClass]="{ 'invalid-input': fullname.invalid && fullname.dirty }"
                                pattern="^[A-Z][a-z]*(\s[A-Z][a-z]*)*$"
                                required
                                name="fullname"
                                #fullname="ngModel"
                                [(ngModel)]="service.fromData.fullname"
                            />
        
                            <div *ngIf="fullname.invalid && (fullname.dirty || fullname.touched)" class="error-message">
                                <div *ngIf="fullname.errors?.required">Ticket No is required</div>
                                <div *ngIf="fullname.errors?.pattern">Enter a valid Ticket No</div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="form-group">
                            <label>Description</label>

                            <textarea class="form-control"  name="nic"
                            [ngClass]="{ 'invalid-input': nic.invalid && nic.dirty }"
                            pattern="^(([0-9]{9}[vVxX])|([0-2]{12}))$"
                            required
                            #nic="ngModel"
                            [(ngModel)]="service.fromData.nic"
                            class="form-control"
                            
                            
                            
                            id="exampleFormControlTextarea1" rows="3"></textarea>
                            
        
                            <div *ngIf="fullname.invalid && (nic.dirty || nic.touched)" class="error-message">
                                <div *ngIf="nic.errors?.required">Description is required</div>
                                <div *ngIf="nic.errors?.pattern">Enter a valid Description</div>
                            </div>
                            <!-- <div *ngIf="!nic.valid && nic.dirty">
                                NIC is invalid.
                            </div> -->
                        </fieldset>

                    </div>


                </div>

                <div class="row">

                    <div class="col-md-6">
                        <label for="exampleFormControlSelect1">Issue Type</label>
                        <select
                            class="form-control"
                            required
                            id="exampleFormControlSelect1"
                            #civilstatusModel="ngModel"
                            name="civilstatus"
                            [(ngModel)]="service.fromData.civilstatus"
                            [ngModelOptions]="{ standalone: true }"
                        >
                            <option>Select Issue Type</option>
                            <option *ngFor="let status of civilstatus">{{ status }}</option>
                        </select>
        
                        <div
                            *ngIf="civilstatusModel.invalid && (civilstatusModel.dirty || civilstatusModel.touched)"
                            class="error-message"
                        >
                            <div *ngIf="civilstatusModel.errors?.required">Designation no required</div>
                            <div class="text-danger">Please select Issue Type.</div>
                        </div>
                      

                    </div>
                    <div class="col-md-6">
                        
                
                        <div class="form-group mt-4">
                            <label for="exampleFormControlSelect1">Issuer</label>
                            <select
                                class="form-control"
                                required
                                id="exampleFormControlSelect1"
                                #civilstatusModel="ngModel"
                                name="civilstatus"
                                [(ngModel)]="service.fromData.civilstatus"
                                [ngModelOptions]="{ standalone: true }"
                            >
                                <option>Select Issuer</option>
                                <option *ngFor="let status of civilstatus">{{ status }}</option>
                            </select>
        
                            <div
                                *ngIf="civilstatusModel.invalid && (civilstatusModel.dirty || civilstatusModel.touched)"
                                class="error-message"
                            >
                                <div *ngIf="civilstatusModel.errors?.required">Issuer no required</div>
                                <div class="text-danger">Please select Issuer.</div>
                            </div>
                        </div>


                    </div>
                </div>
           
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mt-4">
                            <label for="exampleFormControlSelect1">Technician</label>
                            <select
                                class="form-control"
                                id="exampleFormControlSelect1"
                                #designationModel="ngModel"
                                required
                                name="designation"
                                [(ngModel)]="service.fromData.designation"
                                [ngModelOptions]="{ standalone: true }"
                            >
                                <option>Select Technician</option>
                                <option *ngFor="let onedesingnation of designation">{{ onedesingnation }}</option>
                            </select>
        
                            <div
                                *ngIf="designationModel.invalid && (designationModel.dirty || designationModel.touched)"
                                class="error-message"
                            >
                                <div *ngIf="designationModel.errors?.required">Technician no required</div>
                                <div class="text-danger">Please select a Technician.</div>
                            </div>
                        </div>
                      
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mt-4">
                            <label for="exampleFormControlSelect1">Priority Type</label>
                            <select
                                class="form-control"
                                id="exampleFormControlSelect1"
                                #designationModel="ngModel"
                                required
                                name="designation"
                                [(ngModel)]="service.fromData.designation"
                                [ngModelOptions]="{ standalone: true }"
                            >
                                <option>Priority Type</option>
                                <option *ngFor="let onedesingnation of designation">{{ onedesingnation }}</option>
                            </select>
                
                            <div
                                *ngIf="designationModel.invalid && (designationModel.dirty || designationModel.touched)"
                                class="error-message"
                            >
                                <div *ngIf="designationModel.errors?.required">Priority Type required</div>
                                <div class="text-danger">Please select a Priority Type.</div>
                            </div>
                        </div>
                    </div>
                </div>

               
<div class="row">

    <div class="col-md-6">
        <div class="form-group mt-4">
            <label for="exampleFormControlSelect1">Item</label>
            <select
                class="form-control"
                id="exampleFormControlSelect1"
                #designationModel="ngModel"
                required
                name="designation"
                [(ngModel)]="service.fromData.designation"
                [ngModelOptions]="{ standalone: true }"
            >
                <option>Select Item</option>
                <option *ngFor="let onedesingnation of designation">{{ onedesingnation }}</option>
            </select>

            <div
                *ngIf="designationModel.invalid && (designationModel.dirty || designationModel.touched)"
                class="error-message"
            >
                <div *ngIf="designationModel.errors?.required">Priority Type required</div>
                <div class="text-danger">Please select a Item.</div>
            </div>
        </div>

    </div>
    <div class="col-md-6">

        <fieldset class="form-group mt-4">
            <label>Issue Date</label>
            <input
                type="date"
                name="dob"
                #dobModel="ngModel"
                required
                [(ngModel)]="service.fromData.dob"
                class="form-control"
            />

            <div *ngIf="dobModel.invalid && (dobModel.dirty || dobModel.touched)" class="error-message">
                <div *ngIf="dobModel.errors?.required">Issue Date required</div>
                <div *ngIf="dobModel.errors?.pattern">Enter a Issue Date</div>
            </div>
        </fieldset>
        
       
    </div>
    
</div>


          <div class="row">
            <div class="col-md-6">
                <div class="mt-4">
                    <button class="btn btn-success btn-add" type="submit">Add</button>
                    <button class="btn btn-warning button-set" type="button" (click)="UpdateEmployee(form)">Update</button>
                    <button class="btn btn-primary button-set" type="button" (click)="resetData(form)">Reset</button>
                </div>
            </div>

            <div class="col-md-6"></div>
          </div>     

              

            </form>
        </div>
        
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <app-page-header [heading]="'Ticket Details'" [icon]="'fa-table'"></app-page-header>
                <app-tables
                    [data]="employeeData"
                    [headers]="employeeFields"
                    [displayColumn]="displayedColumns"
                    (passData)="fillData($event)"
                    (deleteDataitem) ="deleteData($event)"
                ></app-tables>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
